html, body {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
}
div, svg {
    display: block;
}

.line {
    fill: none;
    stroke-width: 2;
}

.line.raw {
    stroke: steelblue;
}

.line.cma{
    stroke: red;
}
